<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!-- Google tag (gtag.js) --> 
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-866647301"></script> 
<script> 
    window.dataLayer = window.dataLayer || []; 
    function gtag(){dataLayer.push(arguments);} 
    gtag('js', new Date()); 
    gtag('config', 'AW-866647301'); 
</script>
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
    <!-- Include head section -->
    <!--#include file="includes/head.html" -->
</head>

<body>
    <!-- Include header -->
    <!--#include file="includes/header.html" -->
    
    <!-- Include main content -->
    <!--#include file="includes/main-content.html" -->
    
    <!-- Include footer -->
    <!--#include file="includes/footer.html" -->
    
    <!-- Include scripts -->
    <!--#include file="includes/scripts.html" -->
</body>
</html>
